{% extends "manage.html" %}
{% block title %} 文章管理 {% end %}
{% block main %}
<main id="main">
<div class="container">
	<ul class="list-group">
   <li class="list-group-item" style="background-color:blue;color:white;text-align:center;">文章管理</li>
   {% for article in articles %}
   <li class="list-group-item">
   		<a href="/export/{{article['id']}}" style="float:right;width:50px;">导出</a>
   		<a href="/delete-article/{{article['id']}}" style="float:right;width:50px;">删除</a>
   		<a href="/edit/{{article['id']}}" style="float:right;width:50px;">编辑</a>
   		<a href="/article/{{article['id']}}" > {{article['name']}}</a>
         <a style="color:#000;text-align:center;">{{article['time']}}</a>
   </li>
   {% end %}
</ul>
</div>
</main>
{% end %}