{% extends "base.html" %}

{% block title %} Blog {% end %}
{% block main %}
<main id="main">

	<div class="container">
		<div class="row topspace">
			<div class="col-sm-10 col-sm-offset-1">
				{% for article in articles %}
				<div style="background-color:#eee;">										
				<article class="post" style="padding-right:20px;padding-left:20px;">
					<header class="entry-header">
						<div class="entry-meta">
							
							<span class="posted-on"><time class="entry-date published" date="2013-09-27">{{article['time']}}<br></time></span>			
							
						</div>
						<h1 class="entry-title"><a href="/article/{{article['id']}}" rel="bookmark">{{article['name']}}</a></h1>
					</header>
					<div class="entry-content">
						<p>{% raw article['summary'] %} 
						<a href="/article/{{article['id']}}" class="more-link"><br>Continue reading&#8230;</a><br></p>
					</div>
				</article>
				</div>	
				{% end %}
			</div> 
		</div>
		<center class="">
			<ul class="pagination">
				{% if page == 1 %}
				<li class="disabled"><a href="">&laquo;</a></li>
				{% else %}
				<li><a href="">&laquo;</a></li>
				{% end %}
				{% for i in range(1,page_number+1) %}
					{% if i==page %}
						<li class="active"><a href="/blog?page={{i}}">{{i}}</a></li>
					{% else %}
						<li><a href="/blog?page={{i}}">{{i}}</a></li>
					{% end %}
				{% end %}
				{% if page == page_number %}
				<li class="disabled"><a href="">&raquo;</a></li>
				{% else %}
				<li><a href="">&raquo;</a></li>
				{% end %}
			</ul>
		</center>
	

	</div>	<!-- /container -->

</main>
{% end %}

